@use "sass:map";

// 將 primary 色調設定為 purple
$primary: #7749f8;

// 自訂主題顏色
$custom-theme-colors: (
  "primary": $primary,
);

// 首先設定變數，然後再匯入 Bootstrap
@use "bootstrap/scss/bootstrap" with (
  $primary: $primary,
  $theme-colors: map.merge((
    "primary": #0d6efd,
    "secondary": #6c757d,
    "success": #198754,
    "info": #0dcaf0,
    "warning": #ffc107,
    "danger": #dc3545,
    "light": #f8f9fa,
    "dark": #212529
  ), $custom-theme-colors)
);
