/* Bootstrap SCSS - 必須在最前面 */
@use "sass:map";
@use "bootstrap/scss/bootstrap" with (
  $theme-colors: map.merge(
      (
        "primary": #7749f8,
        "secondary": #6c757d,
        "success": #198754,
        "info": #0dcaf0,
        "warning": #ffc107,
        "danger": #dc3545,
        "light": #f8f9fa,
        "dark": #212529,
      ),
      (
        "primary": #7749f8,
      )
    )
);
